form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

body {
    background-color: rgb(178, 178, 233);
}

button:hover {
    background-color: #06b9f4;
}

h1 {
    color: blue;
}