body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.form-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container legend {
    font-size: 1.6em;
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #007BFF;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

/* Tableau d'affichage */
.table-container {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #007BFF;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn-supprimer,
.btn-modifier {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btn-supprimer {
    background-color: red;
}

.btn-supprimer:hover {
    background-color: darkred;
}

.btn-modifier {
    background-color: orange;
}

.btn-modifier:hover {
    background-color: darkorange;
}

.plus-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #28a745;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.plus-button:hover {
    background-color: #218838;
    transform: scale(1.1);
}

/* Recherche */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #007BFF;
    border-radius: 5px;
}

.search-container button {
    padding: 10px;
    background-color: #eea05b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.btn_retour {
    background-color: #28a745;
    border-radius: 20px;
}